<!--<h1>5 INF C -2020/21</h1>
<h3>introduzione ad Angualr e Typescript</h3>
<p>Primo esempio di "databinding", io sono: {{myName}}</p>
<button (click)="changeName()">CAMBIAMI NOME</button>

<hr>-->
<div class="conteainer">
    <div class="row">
        <div class="col-xs-12">
            <h3>Utilizzo dei componenti:</h3>
            <app-server></app-server>
            <!--<div app-servers></div>-->
            <!--<div class="app-servers"></div>-->
        </div>
    </div>
</div>
<h3>Utilizzo dei componenti:</h3>
<app-servers></app-servers>